name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build + tests
        run: ./mvnw test

      - name: Build Docker image (requirement)
        run: docker build -t bookshop:ci .

  deploy:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH (git pull + docker compose up)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e
            cd /home/${{ secrets.CHEF_PROJET }}/bookshop
            git checkout main
            git pull
            docker compose up -d --build
            curl -f http://localhost:8080/api/public/categories || exit 1